# Deno
.deno_dir/

# Fresh
.development/

# Build artifacts
dist/

# IDE-specific files
.vscode/
.idea/

# Dependency directories
/deps/
/.deno/

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local